<div >
  <h5 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-2xl lg:text-3xl dark:text-white">員工基本資料 共{{totalDatas}}筆</h5>
</div>

<form [formGroup]="searchForm" (ngSubmit)="submitForm()">
<div class="flex items-center space-x-4 pr-4 pb-4 rounded-md">
  <!-- 單位選擇 -->
  <div class="flex items-center space-x-2">
    <label for="unit" class="text-black font-semibold dark:text-whitegif dark:text-white">單位</label>
    <select id="unit" formControlName="unit" class="p-2 rounded border border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option value="">請選擇</option>
      <option value="">信託部</option>
      <option value="">新分行</option>
      <option value="">行銷企劃部</option>
      <option value="">法務暨法令遵循部</option>
      <option value="">高雄卡中心</option>
      <option value="">台北卡中心</option>
    </select>
  </div>

  <!-- 科別 -->
  <div class="flex items-center space-x-2">
    <label for="department" class="text-black font-semibold dark:text-white">科別</label>
    <input id="department" formControlName="department" type="text" class="p-2 rounded border border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="">
  </div>

  <!-- 員編 -->
  <div class="flex items-center space-x-2">
    <label for="employeeNumber" class="text-black font-semibold dark:text-white">員編</label>
    <input id="employeeNumber" formControlName="employeeNumber" type="text" class="p-2 rounded border border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="">
  </div>

  <!-- 姓名 -->
  <div class="flex items-center space-x-2">
    <label for="name" class="text-black font-semibold dark:text-white">姓名</label>
    <input id="name" formControlName="name" type="text" class="p-2 rounded border border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="">
  </div>

  <!-- 搜尋按鈕 -->
  <button  type="submit" class="p-2 bg-green-500 text-white rounded-md hover:bg-green-600">
    搜尋
  </button>
</div>
</form>
<!-- 表格 -->

<div *ngIf="customers.length; else noData" class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Product name
              </th>
              <th scope="col" class="px-6 py-3">
                  Color
              </th>
              <th scope="col" class="px-6 py-3">
                  Category
              </th>
              <th scope="col" class="px-6 py-3">
                  Price
              </th>
              <th scope="col" class="px-6 py-3">
                  <span class="sr-only">Edit</span>
              </th>
          </tr>
      </thead>
      <tbody>
        @for (customer of customers; track $index) {
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ customer.customerId }}
              </th>
              <td class="px-6 py-4">
                {{ customer.companyName }}
              </td>
              <td class="px-6 py-4">
                {{ customer.contactName }}
              </td>
              <td class="px-6 py-4">
                {{ customer.contactTitle }}
              </td>
          </tr>
        }
      </tbody>
  </table>
</div>

<div class="pt-4"style="text-align: center;">
<app-pagination
  [page]="currentPage()"
  [pageTotal]="totalPages()"
  [(pageSize)]="pageSize"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="pageSizeChange($event)">
</app-pagination>
</div>

<ng-template #noData>
  <p>No customers found.</p>
</ng-template>
